#result {
  display: none;
  overflow: hidden;
  background: lightgrey;
  border: 3px solid darkgrey;
  position: absolute;
  z-index: 1;
  width: 100%;
}
#result img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}
button {
  font-size: 2em;
  width: 90%;
  display: block;
  margin: 1em auto;
}
